img {
	max-width: 100%;
	height: auto;
}

.video-container {
	@include responsive-ratio(16, 9);

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// @media all and (min-width: $smlWidth) {

// }

// @media all and (min-width: $medWidth) {

// }